
*{padding: 0;margin: 0;border: 0}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:borderbox;box-sizing:border-box}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size0adjust:100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;} 
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
a{color:#676565;cursor: pointer;}
body {min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;line-height: 1.5;}
img {max-width: 100%;display: block;}
input,button,textarea,select {font: inherit;}
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    color: #1e1e1e;
    font-family: 'Roboto';
  }
.content {
    flex: 1 1 auto;
    margin: 0px auto;
}
.container {
    width: 1200px;
    padding-bottom: 10%;
}   
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px 32px 0px;
    padding-bottom: 24px;
    border-bottom: 1px solid #1e1e1e;

}
.menu__logo img {
        width: 88px;
        height: auto;
}
.menu__nav {
    display: flex;
}
.menu__nav-list {
    display: flex;
}
.menu__nav-li {
    margin-left: 32px;
    font-size: 18px;
}
.menu__nav-li a:hover {
    color: blueviolet;
}
.main-img {
}
.main-content {
    display: flex;
    flex-direction: column;
}
.main-content__title {
    margin: 32px 0px 32px 0px;
}
.main-content__title h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    margin-bottom: 24px;
}
.main-content__title h2{
    font-size: 24px;
    font-weight: 400;
}
.main-content__text {
    font-size: 18px;
}
.main-content__text p{
    margin: 16px 0px;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    vertical-align: top;
    font-size: 16px;
  }
  table td {
    width: 100%;
    padding: 16px;
    vertical-align: top;
  }
  table th {
      font-size: 20px;
    width: 100%;
    padding: 12px;
    
  }
.mouth:last-child{
    margin-top: 40px;
}

  .mouth h2{
      font-size: 36px;
      text-align: center;
      font-weight: 500;
  }
  .mouth span{
      display: block;
      width: 100%;
      height: 1px;
      color: #1e1e1e;
      opacity: 0.2;
      background: #1e1e1e;
  }
    .gallery{
        width: 100%;
        display: flex;
        flex: 0 33,333%;
    }
     .gallery img{
            Margin: 15px;
            Width:calc(33.3333333% - 30px);
     }
     .gallery img:hover{
        Margin: 15px;
        Width:calc(33.3333333% - 30px);
        transform: scale(1.5);
    }
    h1{
        font-size: 48px;
        font-weight: 500;
        line-height: 56px;
        margin-bottom: 24px;
    }
